:root {
  --link-color: var(--primary);
  --link-hover-color: #34ae0f;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #34ae0f;
  --link-hover-underline-shadow: 0 1px 0 var(--link-hover-underline-color);
}

.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  width: 50%;
  padding: 1rem;
}