a.rounded {
  text-align: left;
}

h2 {
  margin-top: 10px;
}

.prose a {
  --tw-prose-links: var(--tw-text-opacity);
  text-decoration: none;
  font-weight: normal;
}

h2 a:hover, .prose a:hover {
  text-decoration: underline;
  color: rgb(109, 85, 247);
  background: none
}

.link-link {
  background: linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  );
}

.link-keyoxide {
  background: linear-gradient(
    to right,
    #fd1d1d,
    #fcb045
  );
}

.link-email {
  background: linear-gradient(
    to right,
    #399cb0,
    #727bfe
  );
}

.font-extrabold {
  font-weight: 600;
}

@media (max-width: 640px) {
  .sm\:px-24 {
    padding-left: 10%;
  }
}
